.card {
  flex: 2;
}

.card .title {
  margin-bottom: 18px;
  font-size: 18px;
}

.nameInputWrapper {
  gap: 16px;
}

.flexInput {
  flex: 1;
}

.button {
  width: 100%;
  height: 48px;
  margin-top: 20px;
  font-size: 16px;
}

@media (width <= 600px) {
  .nameInputWrapper {
    flex-direction: column;
    gap: 0;
  }
}
