.main {
  padding: 24px 50px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

@media (width <= 1300px) {
  .wrapper {
    max-width: 900px;
  }
}
