.wrapper {
  padding: 24px;
  margin: 0 auto;
}

.imageWrapper {
  flex: 1;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
}

.imageWrapper > div {
  width: inherit;
}

.imageWrapper img {
  border: 30px solid #fff;
}

.card {
  flex: 1;
  padding: 32px;
}

.tag {
  padding: 4px 12px;
  margin: 0;
  font-weight: 600;
  border-radius: 16px;
}

.card .characteristic {
  font-weight: 500;
}

.card .title {
  margin: 0;
}

.description {
  font-size: 16px;
}

.price {
  font-size: 26px;
  letter-spacing: -0.5px;
}

.button {
  height: 48px;
}

@media (width <= 1300px) {
  .wrapper {
    padding: 24px 0;
  }
}

@media (width <= 769px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
  }

  .card {
    padding: 20px;
  }

  .imageWrapper {
    width: 100%;
  }

  .priceWrapper {
    flex-direction: column;
    gap: 10px;
  }
}
